<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tracery Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tracery iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tracery macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B96DBFBB1E72B630008623B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B96DBFC41E72B631008623B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B96DBFEC1E72B993008623B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B96DBFF41E72B994008623B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9FCA8061E73D6FA0069F8B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
